[Unit]
Description=Gongga Service
After=network.target

[Service]
Type=simple
Restart=always
Environment=NODE_ENV=production
Environment=PORT=80
WorkingDirectory=/home/localadmin/github/gongga
ExecStart=npm start